# Node.js dependencies
node_modules/
# Logs and temporary files
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
debug.log
.DS_Store

# OS & Editor specific files
Thumbs.db
*.swp
.vscode/
.idea/

.gitignore
